In [16]:
print('Hello')

Hello

In [17]:
a = 15

In [18]:
print(a)

15

In [19]:
print(a)

15

In [20]:
print('Hi')

Hi

In [21]:
print('Hello')

Hello

In [22]:
print("Is it me you're looking for?")

Is it me you're looking for?

In [23]:
print("'Cause I wonder where you are")

'Cause I wonder where you are

In [24]:
print("And I wonder what you do")

And I wonder what you do

In [27]:
import pandas as pd
numbers = [12, 53, 57]
pd.Series(numbers)

0    12
1    53
2    57
dtype: int64

In [29]:
numbers2 = {"one": [1.2, 2, 3, 4],
            "two": [4, 3, 2.5, 1]
           }
pd.DataFrame(numbers2)

   one  two
0  1.2  4.0
1  2.0  3.0
2  3.0  2.5
3  4.0  1.0